ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 400 /error.html
ErrorDocument 401 /error.html
ErrorDocument 402 /error.html
ErrorDocument 405 /error.html
ErrorDocument 406 /error.html
ErrorDocument 407 /error.html
ErrorDocument 408 /error.html
ErrorDocument 409 /error.html
ErrorDocument 410 /error.html
ErrorDocument 411 /error.html
ErrorDocument 412 /error.html
ErrorDocument 413 /error.html
ErrorDocument 414 /error.html
ErrorDocument 415 /error.html
ErrorDocument 416 /error.html
ErrorDocument 417 /error.html
ErrorDocument 500 /error.html
ErrorDocument 501 /error.html
ErrorDocument 502 /error.html
ErrorDocument 503 /error.html
ErrorDocument 504 /error.html
ErrorDocument 505 /error.html
Options All -Indexes