@charset "utf-8";
/* CSS Document */
img[alt="www.000webhost.com"]{
    display: none!important;
}
/*media*/
@media 
only screen and (max-width: 1000px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .hid{
		display:none;
	}
}
/*Combo*/
@charset "utf-8";
/* CSS Document */
table.rsptbl,table.tbl { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd).rsptbl,tr:nth-of-type(odd).tbl{ 
  background: #f5f5f5; 
}
th.rsptbl,th.tbl { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td.rsptbl, th.rsptbl,td.tbl, th.tbl{ 
  padding: 5px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
/*Tags*/

/*hide number spinbox*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;
  margin: 0; 
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: textfield;
}
a:link,a:visited{
	color:blue;	
}
label{
	line-height: 150%;
}
select{
	width:auto;
}
body{
	font-family:Arial;
	font-size:16px;
}

/*Classes*/

.noselect {/*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}
.Marks, .MarksD{
	width:25px;	
}
.MarksC{
	width:40px;	
}
.Credit{
}
.Heading{
	margin:auto;
	vertical-align:middle;
	text-align: center;	
}
.section{
	 width:auto;
	 line-height: 1.5;
}
/*ID's*/
#Container{
	margin:auto;
	text-align: center;
	max-width:1300px;
}
#Caption
{
	font-size:larger;
	font-weight: bold;
	text-align: center;
	width:auto;
}
#sub{
	display:none;
}
#lastup{
	color:#888;
	font-size:smaller;	
}